header {
  background: linear-gradient(135deg, darkgrey, lightgrey);
  color: white;
  padding: 20px 50px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Rounded corners */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

a:hover {
  color: red;
}

.hero-banner {
  width: 100%;
  margin-top: 40px;
}
